<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">
<body>
<div style="width:100%;font-size:36px;line-height:48px;background-color:navy;color:white">
	<h:form>
		<h:outputLabel>Quantimage Radiomodels</h:outputLabel>
	    <h:commandLink action="register" rendered="${userManagedBean.user == null}">
	   		<h:outputText value="Register " />
		</h:commandLink>
		<h:commandLink action="connection" rendered="${userManagedBean.user == null}">
			<h:outputText value="Connect" />
		</h:commandLink>
		<h:commandLink action="${userManagedBean.disconnect}" rendered="${userManagedBean.user != null}">
			<h:outputText value="disconnect" />
		</h:commandLink>
	</h:form>
</div>
<br></br>
</body>
</html>
