<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
	<ui:define name="content">
		Index > <h:outputText value="#{instanceManagedBean.uploadOrCreate}"></h:outputText> > Display CSV > Select the algorithm > Select The parameters
		<br></br>
		<h:outputLabel value="Apply parameters"></h:outputLabel>
		<br />
		<h:form>
			<h1>Algorithm parameters</h1>
			<ui:repeat var="entry"
				value="#{instanceManagedBean.choosenAlgorithmParametersHashMap.entrySet().toArray()}">
					#{entry.key}
					<h:inputText
					value="#{instanceManagedBean.choosenAlgorithmParametersHashMap[entry.key]}" required="true"></h:inputText>
				<br />
			</ui:repeat>
			<h1>Evaluation</h1>
			<h2>Cross Validation Evaluation</h2>
			<br />
   				Number of folds: <h:inputText
				value="#{instanceManagedBean.numberOfFolds}" required="true" />
			<br />
			<span style="color:red">Warning, this operation can take a while !</span>
			<br />
			<h:commandButton value="submit"
				action="#{instanceManagedBean.applyAlgorithm}"></h:commandButton>
		</h:form>
	</ui:define>
</ui:composition>
</html>