<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">

	<ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
	    <ui:define name="content">
	    	Index > <h:outputText value="#{instanceManagedBean.uploadOrCreate}"></h:outputText> > Display CSV > Select The algorithm
			<br></br>
   	        <h:outputLabel value="Apply the algorithm"></h:outputLabel>
	        <br></br>
	    	<h:form>
   	 		    <h:selectOneMenu value="#{instanceManagedBean.choosenAlgorithm}">
   					<f:selectItems value="#{instanceManagedBean.listAlgorithm.entrySet()}" 
   						var="entry" itemValue="#{entry.key}" itemLabel="#{entry.value}"/>
   				</h:selectOneMenu>
   				<br />
	    		<h:commandButton value="submit" action="#{instanceManagedBean.chooseAlgorithm}"></h:commandButton>
	    	</h:form>
	    </ui:define>
	</ui:composition>
</html>