<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
	<ui:define name="content">
		Index > Model Testing > Test Result
		<br></br>
		<h:outputLabel value="Result"></h:outputLabel>
		<br></br>
    	used Model: #{testModelManagedBean.modelName}
    	<br></br>
    	<h:outputText escape="false" value="#{testModelManagedBean.result}"></h:outputText>
		<br></br>
		<h:form>
			<h:commandLink value="Return to index" action="index"></h:commandLink>
		</h:form>
	</ui:define>
</ui:composition>
</html>