<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
	<ui:define name="content">
		<script	src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="./js/displayCSV.js"></script>
		<h:body	onload="displayCSV('#{instanceManagedBean.csvFileOneLine}', '#{instanceManagedBean.csvRowSeparator}')">
			Index > <h:outputText value="#{instanceManagedBean.uploadOrCreate}"></h:outputText> > Display CSV
			<br></br>
			<h:form id="displayCSVForm">
				Normalize	
				<h:selectBooleanCheckbox value="#{instanceManagedBean.normalize}">
						<f:ajax event="click" execute="@this" />
					</h:selectBooleanCheckbox>
					<br />
			    Class Attribute
			    <h:selectOneMenu value="#{instanceManagedBean.className}">
				<f:selectItems value="#{instanceManagedBean.headers}"></f:selectItems>
				</h:selectOneMenu>
				<br />
				<span>Click on the columns you want to ignore</span>
				<br />
				<h:inputHidden id="selectedHeaders"
					value="#{instanceManagedBean.selectedHeaders}"></h:inputHidden>
				<h:commandButton id="submitPreprocessingButton" value="submit"
					onclick="getRemovedHeaders()"
					action="#{instanceManagedBean.submitPreprocessing}"></h:commandButton>
				<div id="CSVTable" style="overflow-x: auto; overflow-y: auto; height: 400px"></div>
				<style>
				.active {
					background: red;
				}
				</style>
			</h:form>
		</h:body>
	</ui:define>
</ui:composition>
</html>
