<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
	<ui:define name="content">
		<h:outputLabel value="Welcome to Quantimage Radiomodels"></h:outputLabel>
		<br></br>
		<h:form rendered="#{userManagedBean.user!=null}">
			<h:commandLink action="uploadForm">
				<h:outputText value="Upload a CSV" />
			</h:commandLink>
			<br />
			<h:commandLink action="#{instanceManagedBean.displayExistingInstances}">
				<h:outputText value="Use an already uploaded instance"></h:outputText>
			</h:commandLink>
			<br />
			<h:commandLink action="#{testModelManagedBean.setUpListOfModelsName}">
				<h:outputText value="Use an existing model"></h:outputText>
			</h:commandLink>
			<br />
		</h:form>
		<h:form rendered="#{userManagedBean.user==null}">
			<h:outputText>Please connect or register before performing any action</h:outputText>
		</h:form>
	</ui:define>
</ui:composition>
</html>