<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">

	<ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
	    <ui:define name="content">
	    	Index > Register
	        <br></br>
	        <h:form>
	         <fieldset>
	         	<legend>Register</legend>
	         	
    	        <h:outputLabel for="firstName">First Name <span class="requis">*</span></h:outputLabel>
		        <h:inputText id="firstName" value="#{userManagedBean.firstName}" required="true" size="20" maxlength="20" />
		        <h:message id="firstNameMessage" for="firstName" errorClass="erreur" />
		        <br />

    	        <h:outputLabel for="lastName">Last Name <span class="requis">*</span></h:outputLabel>
		        <h:inputText id="lastName" value="#{userManagedBean.lastName}" required="true" size="20" maxlength="20" />
		        <h:message id="lastNameMessage" for="lastName" errorClass="erreur" />
		        <br />
		        
		     	<h:outputLabel for="eMail">Mail address <span class="requis">*</span></h:outputLabel>
		        <h:inputText id="eMail" value="#{userManagedBean.eMail}" required="true" size="20" maxlength="60" />
		        <h:message id="eMailMessage" for="eMail" errorClass="erreur" />
		        <br />
		
		        <h:outputLabel for="password">password <span class="requis">*</span></h:outputLabel>
		        <h:inputSecret id="password" value="#{userManagedBean.password}" required="true" size="20" maxlength="20" />
		        <h:message id="passwordMessage" for="password" errorClass="erreur" />
		        <br />
		        
		        <h:messages globalOnly="true" infoClass="info" />
		
		        <h:commandButton value="Register" action="#{userManagedBean.register}" styleClass="sansLabel" />
		        <br />
	          </fieldset>
	        </h:form>
	    </ui:define>
	</ui:composition>
</html>