<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">

	<ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
	    <ui:define name="content">
    	Index > <h:outputText value="#{instanceManagedBean.uploadOrCreate}"></h:outputText> > Display CSV > Select the algorithm > Select The parameters > Display the evaluation > Save the model
		<br></br>
	    	<h:form enctype="multipart/form-data">
	        	<h:outputLabel value="Upload File:"></h:outputLabel>
	        	<br />
	        	Model Name
	        	<h:inputText value="#{instanceManagedBean.modelName}" required="true"></h:inputText>
	        	<br />
	        	<h:commandButton value="Save" action="#{instanceManagedBean.serializeModel}"></h:commandButton>	        	
	        </h:form>
	    </ui:define>
	</ui:composition>
</html>