<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
	<ui:define name="content">
		<h:form enctype="multipart/form-data">
			Index > Model Testing
			<br></br>
			<h1>Model</h1>
			<h2>Select Model Name</h2>
	        	Model Name
     	   	 	<h:selectOneMenu value="#{testModelManagedBean.modelName}">
				<f:selectItems value="#{testModelManagedBean.listModelsName}" />
			</h:selectOneMenu>
			<h1>Upload CSV</h1>
			<h2>CSV Row separator</h2>
			<h:selectOneMenu value="#{testModelManagedBean.csvRowSeparator}">
				<f:selectItem itemValue="," itemLabel="," />
				<f:selectItem itemValue=";" itemLabel=";" />
			</h:selectOneMenu>
			<h2>CSV File</h2>
			<h:inputFile value="#{testModelManagedBean.csvFilePart}" required="true"></h:inputFile>
			<br />
			<h:commandButton value="Submit"
				action="#{testModelManagedBean.IsTheModelCompatible}"></h:commandButton>
		</h:form>
	</ui:define>
</ui:composition>
</html>