<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
	<ui:define name="content">
		<h:form enctype="multipart/form-data">
			Index > Upload File
			<br></br>
			<h:outputLabel value="Upload File:"></h:outputLabel>
			<br />
	        	Instance Name
	        	<h:inputText value="#{instanceManagedBean.instanceName}" required="true"></h:inputText>
			<br />
	        	CSV Row separator
				<h:selectOneMenu value="#{instanceManagedBean.csvRowSeparator}">
				<f:selectItem itemValue="," itemLabel="," />
				<f:selectItem itemValue=";" itemLabel=";" />
			</h:selectOneMenu>
			<br />
				CSV File
	        	<h:inputFile value="#{instanceManagedBean.csvFilePart}" required="true"></h:inputFile>
			<br />
			<h:commandButton value="Submit"
				action="#{instanceManagedBean.uploadCSV}"></h:commandButton>
		</h:form>
	</ui:define>
</ui:composition>
</html>