<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
	<ui:define name="content">
		<h:form enctype="multipart/form-data">
			Index > Use Previous Instance
	    	<br />
			<h:outputLabel value="Select Instance"></h:outputLabel>
			<br />
	        	Instance Name
     	   	 	<h:selectOneMenu value="#{instanceManagedBean.instanceName}">
				<f:selectItems value="#{instanceManagedBean.listInstanceName}" />
			</h:selectOneMenu>
			<br />
			<h:commandButton value="Submit" action="#{instanceManagedBean.useExistingModel}"></h:commandButton>
		</h:form>
	</ui:define>
</ui:composition>
</html>